<form [formGroup]="flightForm" (ngSubmit)="searchJourney()">
  <h2>Journey search</h2>
  <div>
    <label>Origin:</label>
    <input
      type="text"
      formControlName="origin"
      maxlength="3"
      toUppercase
      pattern="[a-zA-Z][a-zA-Z]+"
    />
    <span
      *ngIf="
        flightForm.get('origin')?.touched &&
        flightForm.get('origin')?.errors?.['minlength']
      "
    >
      Must have 3 characters
    </span>
  </div>
  <div>
    <label>Destination:</label>
    <input
      type="text"
      formControlName="destination"
      maxlength="3"
      toUppercase
      pattern="[a-zA-Z][a-zA-Z]+"
    />
    <span
      *ngIf="
        flightForm.get('destination')?.touched &&
        flightForm.get('destination')?.errors?.['minlength']
      "
    >
      Must have 3 characters
    </span>
  </div>
  <div>
    <label>Max Flights:</label>
    <input type="number" formControlName="maxFlights" />
  </div>
  <span
    *ngIf="
      flightForm.get('origin')?.touched &&
      flightForm.get('destination')?.touched &&
      flightForm.hasError('matchError')
    "
  >
    Origin and destination must be different
  </span>
  <button [disabled]="flightForm.invalid">Search</button>
</form>
