.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card-header {
  background-color: #f1f1f1;
  padding: 10px;
  color: black;
}

.card-body {
  padding: 10px;
}
