$buttonBgColor: rgba(56, 56, 74, 1);
$buttonTextColor: rgb(255, 255, 255);
$buttonDisabled: rgba(221, 221, 221, 1);
$textColor: rgba(29, 28, 28, 0.918);
$formColor: rgba(242, 242, 242, 1);
$warningTextColor: rgba(233, 12, 12, 0.89);
$htmlBgColor: rgba(217, 213, 231, 0.63);
$formElementsHoverColor: rgba(78, 54, 184, 1);
