@import "colors.scss";

html {
  font-family: Inter var, "system-ui";
  background-color: $htmlBgColor;
}

@mixin form-elements {
  display: block;
  min-width: 90%;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #e4e6e8;
  padding: 10px;
  font-size: 16px;
}

input,
select {
  @include form-elements;

  &:hover {
    border-color: $formElementsHoverColor;
  }
}

@mixin button-styles {
  background-color: $buttonBgColor;
  color: $buttonTextColor;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.625;
  padding: 16px 32px;
  text-align: center;

  &[disabled] {
    background-color: $buttonDisabled;
    color: $buttonTextColor;
    cursor: not-allowed;
  }
}

button {
  @include button-styles;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: $formColor;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
}

h2,
h3 {
  text-align: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

div {
  margin-bottom: 10px;
}

span {
  color: $warningTextColor;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-container {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}
